

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: rgb(250, 244, 179);
    opacity: 1;
}
.alertcounter {
    margin-left: -2px;
    font-size: 10px;
}
.alert-bell {
    color: #f39406;
    font-size: 22px;
    margin-top: 8px;
}
.notification-bell {
    color: #f7dd26;
    font-size: 22px;
    margin-top: 8px;
}
.removenowrap {
    white-space: inherit !important;
    font-size: 11px;
}
.approved i {
    
    color: #54ca18;
}
.notapproved i {
    color: #ef2323;
}
.nadet {
    background-color: #888282;
    border: #fff solid 1px;
    color: #eaeac4;
}
.naundet {
    background-color: #4a5b80;
    border: #fff solid 1px;
    color: #eaeac4;
}
.seeall {
    background-color: #111b63;
    color: #fff;
}
    .seeall a {
        background-color: #111b63;
        color: #fff !important;
        text-align: center;
        font-size: 12px;
    }
    .seeall a:hover {
        background-color: #111b63;
        color: #fff !important;
        text-align: center;
        font-size: 12px;
    }
