
@model IList<MangalWeb.Model.Entity.TGLPreSanction>
@using MangalWeb.Model.Entity
<div class="modal-content">
    <div class="modal-body" style="height:inherit; overflow:auto;">
        <div class="panel-body panel-no-padding" style="height:inherit; overflow:auto;">
            <div id="demo">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="example">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Loan Type</th>
                            <th>Loan Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TGLPreSanction item in Model)
                        {
                            <tr class="gradeX" onclick='window.document.location="/PreSanction/GetPreSanction?ID=@item.PreSanctionID"'>
                                <td>@item.TGLKYC_BasicDetails.CustomerID</td>
                                <td>@item.LoanType</td>
                                <td>@item.Mst_LoanPupose.LoanPupose</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->
